.navbar {
    position: sticky;
    top: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  .fontWeight{
    font-weight: 300;
  }

  .fontWeight600{
    font-weight: 600;
  }
